<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/temp/animate.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js" charset="utf-8"></script>
  <script src="/bower_components/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-sweetalert/dist/sweetalert.css">
  <script src="/js/module.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
</head>
<body ng-app='myApp' ng-controller='mainCtrl'>
  <div class="container">
  </div>
  <div ui-view>
    <!-- where template will load -->

  </div>
</body>
</html>
