body {
  background-color:#fff;
}
@font-face{
  font-family: pokemon;
  src: url('../temp/Pokemon_Solid.ttf');

}
@media screen and (max-width: 400px) {
  .homeImage img {
    height: 40%;
  }

  .homeImage .focus {
    height: 50%;
  }
  .home{
    width: 80%;
    height: 100vh;
    padding: 40px;
    font-family: pokemon;
    background-color: #000;
    background: url(/temp/homeBackground.png) no-repeat center center fixed;
    -webkit-background-size: 80% 80%;
    text-align: center;
  }

}

.biggestfont{
  font-size: 130px;
  color: blue;
  text-shadow: 2px 2px #FF0000;
  text-shadow: 4px 4px #FF0000;
  text-align: center;
}
.bigfont{
  font-size: 90px;
  color: blue;
  text-shadow: 7px 7px yellow;
}
.container{
  margin: 0 auto;
  text-align: center;
}
.homeImage img {
  height: 300px;
}

.homeImage .focus {
  height: 500px;
}
.home{
  width: 100%;
  height: 100vh;
  padding: 40px;
  font-family: pokemon;
  background-color: #000;
  background: url(/temp/homeBackground.png) no-repeat center center fixed;
  -webkit-background-size: 100% 100%;
  text-align: center;
}
.timeBox{
  border: 1px solid #000;
  font-size: 120px;
}

.pokeButton {
  height: 20%;
}
.pokeGameButton{
  height: 70px;
}
.pokeGameButton:hover{
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

.smallfront{
  color: red;
  font-size: 30px;
  text-shadow: 3px 3px yellow;
}
.game a{
  text-decoration: none;

}
.game{
  font-family: pokemon;
  color: yellow;
  padding-left: 300px;
  padding-right: 200px;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  background-image: url(/temp/gameBackground.jpg);
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
}
.imageBox{
  background-color: #fff;
}
.imgContainer, .sprite-box {
  text-align: center;

  border-radius: 5px;
  width: 120px;
  height: 120px;
}
.imgContainer {
  border: 1px solid #000;
  box-shadow: 10px 10px 5px #eee;

}
.imgContainer img{
  width: 100px;
  height: 100px;
}
