@font-face{
  font-family: pokemon;
  src: url('../temp/Pokemon_Solid.ttf');

}
.biggestfont{
  font-size: 120px;
  color: blue;
  text-shadow: 2px 2px #FF0000;
  text-shadow: 4px 4px #FF0000;
}
.bigfont{
  font-size: 90px;
  color: blue;
  /*text-shadow: 2px 2px #FF0000;*/
  text-shadow: 7px 7px yellow;
}
.container{
  margin: 0 auto;
  text-align: center;
}
.poke{
  width: 80%;
}
.home{
  width: 80%;
  padding: 40px;
  font-family: pokemon;
  background-color: #eee;
  height: 600px;
  background-image: url(/temp/homeBackground.png);
  background-repeat: no-repeat center center fixed;
  background-size: 100% 100%;
}
.playbutt{
  color: #000;
}
.homeImage{
  bottom: 0;
}
.imgContainer, .sprite-box {
  text-align: center;

  border-radius: 5px;
  width: 120px;
  height: 120px;

}
.imgContainer {
  border: 1px solid #000;
  box-shadow: 10px 10px 5px #eee;

}
.imgContainer img{
  width: 100px;
  height: 100px;
}
/*test*/
.css-class-add, .css-class-remove {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.css-class,
.css-class-add.css-class-add-active {
  color: red;
  font-size:3em;
}

.css-class-remove.css-class-remove-active {
  font-size:1.0em;
  color: black;
}
/*-----*/
